<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Register your account</title>
</head>

<body>
    <div class="container">
        <br>
        <div class="d-flex justify-content-center">
            <img class="" src="assets/images/login.jpg" style="height: 50px;" alt="logo" class="logo">
        </div>
        <hr>

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <p class="text-center">Get started with your account</p>

                {% for item in msg %}
                <div class="alert alert-danger" role="alert">
                    {{ item }}
                </div>
                {% endfor %}

                <p class="divider-text">
                </p>
                <form method="POST" action="{{ url_for('register') }}">

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="name" class="form-control" placeholder="Full Name" type="text" required>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="username" class="form-control" placeholder="Username" type="text" required>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email" required>
                    </div> <!-- form-group// -->
<!--                    <div class="form-group input-group">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>-->
<!--                        </div>-->
<!--                        <input name="email2" class="form-control" placeholder="Confirm email address" type="email"-->
<!--                            required>-->
<!--                    </div>-->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="password" class="form-control" placeholder="Create password" type="password"
                            required>
                    </div>
<!--                    <div class="form-group input-group">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>-->
<!--                        </div>-->
<!--                        <input name="password2" class="form-control" placeholder="Repeat password" type="password"-->
<!--                            required>-->
<!--                    </div> &lt;!&ndash; form-group// &ndash;&gt;-->
                    <div class="form-group">
                        <button name="submitButton" type="submit" class="btn btn-primary btn-block"> Create Account
                        </button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Have an account? <a href="/login">Log In</a> </p>
                </form>
            </article>
        </div> <!-- card.// -->

    </div>
    <!--container end.//-->

    <br><br>
    <!-- <article class="bg-danger mb-3">   -->
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: #007bff; color: white;">
            © 2021 Copyright:

            <a style="color: white" href="#">SocailRAU.com</a>
        </div>
    </footer>

</body>
{% if registered %}
<script>$(document).ready(function () {window.setTimeout(function () {location.href = "/login"}, 1000)})</script>
{% endif %}
</html>